<!-- D:\MY PROJECT\Disease\CoronaryDisease\templates\about.html -->
{% extends 'base.html' %}

{% block content %}
    <!-- Your custom content for the About page goes here -->
    <div class=" relative z-10 max-w-2xl text-justify">
        <h1 class="text-4xl font-bold mb-2 text-white mt-2 text-center">About Us</h1>
        
        <p class="text-lg leading-relaxed mx-4 font-semibold text-white">
            Welcome to our Coronary Disease Detection platform. Our mission is to provide an innovative solution for the early detection of coronary diseases using advanced machine learning algorithms.
        </p>

        <p class="text-lg leading-relaxed mx-4 font-semibold text-white">
            Our team of experts is dedicated to leveraging the power of technology to improve healthcare outcomes. We believe that early intervention is crucial in managing coronary diseases, and our platform aims to contribute to this goal.
        </p>

        <p class="text-lg leading-relaxed mx-4 font-semibold text-white">
            Explore our platform to learn more about how we are using machine learning and technology to revolutionize coronary disease detection. If you have any questions or inquiries, feel free to reach out to us through our Contact page.
        </p>
    </div>
{% endblock %}
